<!DOCTYPE html>
<html>

<head>
    <title>More_jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">
</head>

<body class="registraion_body">
    <!----------------------------- HEADER START ------------------------>
    <div class="header">
        <div class="container">
            <div class="navbar-header">
                <center>
                    <h2>
                        <a href="home.html">JOB RECOMMENDER</a>
                    </h2>
                    <form method="post" id="rlogout"> <button type="submit" name="logout" formtarget="_self" class="btn btn-primary log-out">Log Out</button></form>
                </center>
            </div>
        </div>
    </div>
    <!-----------------------------HEADER END--------------------------->
    <div class="container">
        <div class="col-md-6 float-left more_jobs_table">
            <div class="col-md-12">
                <center>
                    <h3>PRIVATE JOBS</h3>
                </center>
                <nav class="navbar apply-jobs">
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th>State</th>
                                <th>Vacant Post</th>
                                <th>Check Details</th>
                            </tr>
                        </thead>
                        {%for i in pscrap%}
                        <tbody>
                            <tr class="table-warning">
                                <td>{{i[1]}}</td>
                                <td>{{i[0]}}</td>
                                <td>
                                    <form method="POST"><button type="submit" value="{{i[0]}}" form_target="_self" name="kapil">Click</button></form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </nav>
            </div>
        </div>
        <div class="col-md-6 float-left more_jobs_table">
            <div class="col-md-12">
                <center>
                    <h3>GOVT. JOBS</h3>
                </center>
                <nav class="navbar apply-jobs">
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th>State</th>
                                <th>Vacant Post</th>
                                <th>Apply</th>
                            </tr>
                        </thead>
                        {%for i in scrap%}
                        <tbody>
                            <tr class="table-warning">
                                <td>{{i[1]}}</td>
                                <td>{{i[0]}}</td>
                                <td><a href={{i[2]}} target="_blank">Click</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <!----------------------- FOOTER START------------------------------>
    <footer class="foot fixed-bottom">
        <div class="container text-center">
            <small>Designed by: Archana Kumari,Ravi Pawar,Kapil Bansal and Sandip Baidya<br>Copyright &copy; EduScent</small>
        </div>
    </footer>
    <!-------------------------FOOTER END------------------------------->
</body>

</html>