<!DOCTYPE html>
<html>

<head>
    <title>Recruiter_login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">
</head>

<body>
    <!----------------------------- HEADER START ------------------------>
    <div class="header">
        <div class="container">
            <div class="navbar-header">
                <center>
                    <h2>
                        <a href="home.html">JOB RECOMMENDER</a>
                    </h2>
                </center>
            </div>
        </div>
    </div>
    <!-----------------------------HEADER END--------------------------->
    <div class="container">
        <center>
            <div class="col-md-4 login">
                <form method="post" id="rlogin">
                    <h4>Recruiter Login</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Organisation Name</span>
                        </div>
                        <input type="text" name="name" class="form-control">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" name="submit" formtarget="_self" class="btn btr">Log In</button>
                </form>
            </div>
        </center>
    </div>
    <!----------------------- FOOTER START------------------------------>
    <footer class="foot fixed-bottom">
        <div class="container text-center">
            <small>Designed by: Archana Kumari,Ravi Pawar,Kapil Bansal and Sandip Baidya<br>Copyright &copy; EduScent</small>
        </div>
    </footer>
    <!-------------------------FOOTER END------------------------------->
</body>

</html>